:host{
    display: block;
    width: 70%;
    margin: 3rem auto 0;
}
mat-card{
    width: 500px;
}
mat-card-content{
    margin: 0;
    display: grid;
}
h1{
    text-align: center;
}
button{
    width: 100%;
}