@use "@angular/material" as mat;
@include mat.core();


$light-primary: mat.define-palette(mat.$purple-palatte);
$light-accent: mat.define-palette(mat.$green-palatte, A200, A100, A400);
$light-warn: mat.define-palette(mat.$red-palatte);

$light-theme: mat.define-light-theme(
    (
        color:(
            primary:$light-primary,
            accent:$light-accent,
            warn: $light-warn,
        ),
    )
);

//primary
$light-primary-50:mat.get-color-from-palatte(&$light-primary,50);